body {
	width: 90%;
	margin: auto;
}
.cv-head{
	display:flex;
	text-align: center;
}
.head-h2{
	margin-top: 30px;
}
.container{
	justify-content: space-between;
}
.left-edu{
	display: flex;
	justify-content: space-between;
}
.work{
	display: flex;
	justify-content: space-between;
}
.sch2{
	margin-left: -85px;
}
.sch3{
	margin-left: 130px;
}
.work2{
	margin-left: -120px;
}
.work3{
	margin-left: -120px;
}