* {
    width: 450px;
    margin: auto;justify-content: center;
}
.wrapper{
    justify-content: center;
    padding-top: 20px;
}
h2{
    justify-content: center;
    text-align: center;
    padding: 20px;
}
.dob{
    
    margin-top: 5px;
}
h4{
    margin-top: 20px;
}
#b1{
    margin-top: 0px;
}
.card-date{
    margin-top: 10px;
    padding-bottom: 20px;
}
.payment-btn{
    background: blue;
    margin-bottom: 20px;
    border-radius: 10px;
    border-color: blue;
    color: white;
}
